@model CanvasBarChartModel
<div id="chartContainer" style="height: 300px; width: 100%;"></div>

@section scripts{
    <script>
		const _data = @Html.Raw(JsonConvert.SerializeObject(Model.CanvasBarChartData));
		window.onload = function () {

			var chart = new CanvasJS.Chart("chartContainer", {
				animationEnabled: true,
				title: {
					text: "Fortune 500 Companies by Country"
				},
				axisX: {
					interval: 1
				},
				axisY2: {
					interlacedColor: "rgba(1,77,101,.2)",
					gridColor: "rgba(1,77,101,.1)",
					title: "Number of Companies"
				},
				data: [{
					type: "bar",
					name: "companies",
					color: "#014D65",
					axisYType: "secondary",
					dataPoints: _data.map(item => ({
						y: item.NumberOfCompanies,
						HTMLLabelElement : item.Country
					}))
				}]
			});
			chart.render();

		}
    </script>
}