@model SplineAreaChartModel

<div id="chartContainer" style="height: 300px; width: 100%;"></div>

@section scripts{
    <script>
		const _data = @Html.Raw(JsonConvert.SerializeObject(Model.SplineAreaChartData));

		window.onload = function () {

			var chart = new CanvasJS.Chart("chartContainer", {
				animationEnabled: true,
				title: {
					text: "Company Revenue by Year"
				},
				axisY: {
					title: "Revenue in USD",
					valueFormatString: "#0,,.",
					suffix: "mn",
					prefix: "$"
				},
				data: [{
					type: "splineArea",
					color: "rgba(54,158,173,.7)",
					markerSize: 5,
					xValueFormatString: "YYYY",
					yValueFormatString: "$#,##0.##",
					dataPoints: _data.map(item => ({ x: item.Date, y: item.Revenue }))
				}]
			});

		}
    </script>
}